:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --section-bg-color: #f7f7f7;
    --section-border-color: #9c9c9c;
}

#activitiesListContainer {
  max-width: 100%; 
  margin: 0 auto; 
  text-align: center; 
  margin-bottom: 50px;
}

.activity-item {
  display: inline-block; 
  width: 200px; 
  margin: 10px; 
  vertical-align: top;
  text-align: left; 
}

/* Ensure a minimum of 3 cards per row */
@media screen and (min-width: 600px) {
  .activity-item {
      width: calc(33.333% - 20px); /* Calculate width for 3 cards with margins */
  }
}


/* Add this CSS for styling the toast */
.toast {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: none;
}

.show {
  display: block;
}


/* Style for the trip card container */
.trip-info.card {
  margin-bottom: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.trip-info.card:hover {
  background-color: #f0f0f0; 
}

.trip-section-title {
  text-align: left; 
}

/* Add margin-bottom for spacing between sections */
.current-trips, .past-trips {
  margin-bottom: 30px; 
}

/* Change the navbar background color */
.navbar {
  background-color: #2f543f; /* Dark green color */
}

/* Set the default color of the navbar links to cream */
.navbar .navbar-nav .nav-link {
  color: #f5f5dc; /* Cream color */
}

.navbar .container-fluid .navbar-brand {
  font-weight: bolder;
  font-size: x-large;
  color: #ffffff; /* Cream color */
}

/* Change the navbar link color to white on hover */
.navbar .navbar-nav .nav-link:hover {
  color: #868686;
}

/* Underline the active nav link */
.navbar .navbar-nav .nav-link.active {
  text-decoration: underline;
}

.navbar .nav-link {
  margin-left: 10px; /* Add space to the left of each link */
  margin-right: 10px; /* Add space to the right of each link */
}


/* ********************************************************************* */
/* Activities */
/* ********************************************************************* */
#activities {
    padding-left: 10%;
}

.like-icon {
  font-size: 1.6em; 
}

.like-btn {
    user-select: none; /* Prevent text selection */
}

.like-btn-active {
    color: #77dd77;
}

.activity-image {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    max-width: 634px; 
    max-height: 422px; 
}

/* Add/Edit Activity Form */
/* ------------------------------------------------------------------ */
/* Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
}

.modal-content h2 {
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.form-control::placeholder {
    color: black;
    opacity: 0.6;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    opacity: 0.9;
}

.btn-cancel {
    background-color: #f44336; /* Red */
}

.btn-submit {
    background-color: #4CAF50; /* Green */
}

.btn:hover {
    opacity: 1;
}


/* ********************************************************************* */
/* Schedule */
/* ********************************************************************* */
.trip-info {
  /* border: 2px solid var(--section-border-color);
  background-color: var(--section-bg-color); */
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.trip-info.card {
    background-color: var(--section-bg-color);
    max-width: 1300px;
    margin: 0 auto;
}

.trip-info .trip-details {
  margin-bottom: 10px; 
}

.trip-info {
  position: relative;
  /* border: 1px solid #000; 
  background-color: #f5f5f5;  */
  padding: 20px;
}

.trip-info button {
  position: absolute;
  top: 20px; 
  right: 20px; 
  /* padding: 10px 20px;  */
}

.schedule {
  /* width: 80%;        */
  margin: 0 auto;    
  text-align: center; 
  display: block;   
  margin-bottom: 50px; 
}

/* Calendar view */
/* ------------------------------------------------------------------ */
/* Styles for sticky date container */
/* .sticky-dates {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}


.calendar-container {
  display: flex;
  overflow-x: auto;
}

.calendar-view {
  display: flex;
  overflow-x: auto;
}

.time-indicators {
  flex: 0 0 auto;
  padding-right: 20px;
  padding-top: 80px;
}

.days-container {
  display: flex;
}

.day {
  min-width: 200px;
  border-left: 1px solid #ddd;
  padding: 10px;
}

.time-slot {
  padding: 5px;
  border-bottom: 1px solid #eee;
} */





/* ********************************************************************* */
/* Attendees */
/* ********************************************************************* */
#attendees {
  padding-left: 13%;
}
.attendees-section{
    margin-bottom: 50px;
}
.attendees-section .attendees > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attendees-section h2 {
  margin-bottom: 0;
}

.btn-primary {
  margin-left: auto;
}

.list-group-item {
  position: relative;
  display: flex;
  padding: 20px;
  margin-bottom: -1px; /* Remove space between items */
  border-left: none;
  border-right: none;
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: left;
  border-radius: 0;
}

.icon {
  width: 30px;
  height: 30px;
}

.ml-auto {
  margin-left: auto;
}

.btn-outline-secondary {
  border: none;
}

.btn-outline-secondary:hover {
  background-color: #e9ecef;
}

/* Additional button styling */
.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}



/* ********************************************************************* */
/* New wweekly view */
.weekly-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
/* General styles for the schedule container */
#scheduleContainer {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 50px;
}

#scheduleContainer .table {
  width: 100%;
  /* table-layout: fixed; */
}

#scheduleContainer th, #scheduleContainer td {
    border: 1px solid grey; /* Adds a solid grey border around each cell */
    padding: 10px; /* Adds some padding inside each cell for better readability */
    text-align: center;
}

/* Optional: you can add specific styles for header cells if needed */
#scheduleContainer th {
    background-color: #f2f2f2; /* A light grey background for header cells */
    text-align: center; /* Center aligns header text */
    padding: 36px;
}

/* Style for merged cells to ensure consistent appearance */
#scheduleContainer td[rowspan] {
    vertical-align: top; /* Aligns content to the top of merged cells */
}

.has-activity {
    background-color: rgba(173, 182, 237, 0.625)
}

#scheduleContainer td {
    position: relative;
}

.edit-cell-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.add-btn-div{
    margin-top: 25px;
}